<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fujfu.dao.account.SiteAccountMapper" >
  <resultMap id="BaseResultMap" type="com.fujfu.pojo.account.SiteAccountVO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fee_id" property="feeId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="DECIMAL" />
    <result column="income" property="income" jdbcType="DECIMAL" />
    <result column="expend" property="expend" jdbcType="DECIMAL" />
    <result column="created" property="created" jdbcType="INTEGER" />
    <result column="no_show" property="noShow" jdbcType="TINYINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fee_id, name, total, income, expend, created, no_show, type
  </sql>
  <!-- 根据费用名查询费用 -->
  <select id="findSiteAccountByFeeName" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_site_account
    where name = #{feeName}
  </select>
   <!-- 根据费用名查询费用 -->
  <select id="findSiteAccountByFeeId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fu_site_account
    where fee_id = #{feeId}
  </select>
  <!-- 分页查询 -->
   <select id="findSiteAccount" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from fu_site_account order by created desc
  	 limit #{page.startOfPage},#{page.pageSize}
  </select>
  <!-- 分页查询记录数 -->
  <select id="countSiteAccount" resultType="java.lang.Integer">
  	select count(*) from fu_site_account 
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fu_site_account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fu_site_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fujfu.pojo.account.SiteAccountVO" >
    insert into fu_site_account (id, fee_id, name, 
      total, income, expend, 
      created, no_show, type
      )
    values (#{id,jdbcType=INTEGER}, #{feeId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{total,jdbcType=DECIMAL}, #{income,jdbcType=DECIMAL}, #{expend,jdbcType=DECIMAL}, 
      #{created,jdbcType=INTEGER}, #{noShow,jdbcType=TINYINT}, #{type,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fujfu.pojo.account.SiteAccountVO" >
    insert into fu_site_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="feeId != null" >
        fee_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="income != null" >
        income,
      </if>
      <if test="expend != null" >
        expend,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="noShow != null" >
        no_show,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="feeId != null" >
        #{feeId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="income != null" >
        #{income,jdbcType=DECIMAL},
      </if>
      <if test="expend != null" >
        #{expend,jdbcType=DECIMAL},
      </if>
      <if test="created != null" >
        #{created,jdbcType=INTEGER},
      </if>
      <if test="noShow != null" >
        #{noShow,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fujfu.pojo.account.SiteAccountVO" >
    update fu_site_account
    <set >
      <if test="feeId != null" >
        fee_id = #{feeId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="income != null" >
        income = #{income,jdbcType=DECIMAL},
      </if>
      <if test="expend != null" >
        expend = #{expend,jdbcType=DECIMAL},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=INTEGER},
      </if>
      <if test="noShow != null" >
        no_show = #{noShow,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fujfu.pojo.account.SiteAccountVO" >
    update fu_site_account
    set fee_id = #{feeId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      total = #{total,jdbcType=DECIMAL},
      income = #{income,jdbcType=DECIMAL},
      expend = #{expend,jdbcType=DECIMAL},
      created = #{created,jdbcType=INTEGER},
      no_show = #{noShow,jdbcType=TINYINT},
      type = #{type,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>