<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fujfu.dao.admin.AdminMapper" >
  <resultMap id="BaseResultMap" type="com.fujfu.pojo.admin.AdminVO" >
    <id column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="uniqid" property="uniqid" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="INTEGER" />
  </resultMap>
  <!-- 分页查询条件 -->
  <sql id="queryCondition">
  	<trim prefix="where" prefixOverrides="and|or">
  		<if test="admin.username!=null and admin.username!=''">
			and username like "%"#{admin.username}"%"  
		</if>
  	</trim>
  </sql>
  <!-- 管理员登录 -->
  <select id="adminLogin" parameterType="com.fujfu.pojo.admin.AdminVO" resultMap="BaseResultMap">
  	select * from fu_admin where username = #{username} and password = #{password}
  </select>
  <!-- 分页查询 -->
  <select id="findAdmin" resultMap="BaseResultMap">
  	select * from fu_admin 
  	<include refid="queryCondition" /> 
  	order by created desc limit #{page.startOfPage},#{page.pageSize}
  </select>
  <!-- 分页查询记录数 -->
  <select id="countAdmin" resultType="java.lang.Integer">
  	select count(*) from fu_admin 
  	<include refid="queryCondition" />
  </select>
  <!-- 根据管理员id查询管理员权限 -->
  <select id="selectPurviewsByAdminId" resultType="java.lang.String">
  select fp.purview_flag from fu_role_purview frp 
  	inner join fu_role fr on fr.role_id = frp.role_id  
  	inner join fu_purview fp on fp.purview_id = frp.purview_id 
  	where frp.role_id in (
select fra.role_id  from fu_role_admin fra 
  	inner join fu_role fr on fra.role_id = fr.role_id 
  	inner join fu_admin fa on fra.admin_id = fa.admin_id 
  	where  fra.admin_id = #{adminId} )
  </select>
  
  
  <sql id="Base_Column_List" >
    admin_id, username, realname, password, uniqid, status, created
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fu_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fu_admin
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fujfu.pojo.admin.AdminVO" >
    insert into fu_admin (admin_id, username, realname, 
      password, uniqid, status, created
      )
    values (#{adminId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{password,jdbcType=CHAR}, #{uniqid,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, #{created,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fujfu.pojo.admin.AdminVO" >
    insert into fu_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="uniqid != null" >
        uniqid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="uniqid != null" >
        #{uniqid,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fujfu.pojo.admin.AdminVO" >
    update fu_admin
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="uniqid != null" >
        uniqid = #{uniqid,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=INTEGER},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fujfu.pojo.admin.AdminVO" >
    update fu_admin
    set username = #{username,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      password = #{password,jdbcType=CHAR},
      uniqid = #{uniqid,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      created = #{created,jdbcType=INTEGER}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
</mapper>