
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>大麦理财-专注贸易金融理财平台-应收账款,供应链金融</title>
<meta name="keywords" content="大麦理财, P2B理财, 网络理财, 个人理财, 安投惠融, 保理投资, 安全投资，商业保理，供应链金融，应付账款">
<meta name="description" content="大麦理财提供安全、有保险的互联网理财投资服务：13%稳健高收益！100元起投！100%本息担保！大麦理财，好收益，好安全！">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1,user-scalable=no">
<meta name='apple-touch-fullscreen' content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="/style/home/css/main.css">
<style>
body{background:#373737;min-width:320px;}
.layer{width:1000px;margin:100px auto 0;}
.layer p{color:#fff;text-align:center;font-size:24px;margin-top:15px;}
.layer p a{color:#fff;text-decoration:underline;}
.layer #counter{color:#f3da25;}
/*适配移动端*/
@media (min-width:320px) and (max-width:640px){
body{max-width:640px;margin:0 auto;font-size:62.5%;overflow-x:hidden; width:100%;}
.img-auto{width:100%;}
.layer{width:90%;}
.layer p{font-size:16px;}
}
</style>
</head>
<body>
<div class="layer">
  <img src="https://www.fujfu.com/static/images/404.png" class="img-auto" alt="呜呜，您的页面失联了！" />
  <p class="backto"><a href="javascript:history.go(-1)" class="go-back">上一页</a>&nbsp; | &nbsp;<span id="counter">9</span>&nbsp;&nbsp;秒后将自动跳转&nbsp;&nbsp;<a href="https://www.fujfu.com/" class="back">返回首页</a></p>
</div>
<script type="text/javascript">
function countDown(sec,home){
  var counter = document.getElementById('counter');
      counter.innerHTML = sec;
  if(--sec>0){ 
     setTimeout("countDown("+sec+",'"+home+"')",1000);
  }else{
     location.href = "https://www.fujfu.com/";
  }     
}
countDown(9,"/");
</script>
<!--baidu-->
<div class="dn">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1930f2728c975b6875e1fd28bb1a45c0";
  hm.async = true; 
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
<!--end-->
</body>
</html>