<!DOCTYPE html>
<html lang="en">
<head lang="zh-cn">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>找回密码-富元汇</title>
    <meta name="author" content="深圳市富之富信息技术有限公司"/>
    <meta name="keywords" content="富元汇，P2P理财，P2C理财，P2P网贷，投资理财，P2P投资理财，个人理财，金融理财，互联网理财，理财投资，供应链金融 ">
    <meta name="description" content="世界百强企业鸿海富士康科技集团旗下金融品牌富金富打造的互联网金融服务平台，致力于为用户提供稳健、诚信、高效的金融产品交易等互联网信息技术服务。">
	<link rel="stylesheet" type="text/css" href="../../static/styles/common/common.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/styles/user/findpwd.css">
    <script type="text/javascript" src='../../static/scripts/common/jquery-1.9.1.js'></script>
    <script src="../../static/scripts/common/common.js"></script>
    <script type="text/javascript" src='../../static/scripts/common/placeholder.js'></script>
    <script type="text/javascript" src='../../static/scripts/user/md5.js'></script>
	<script type="text/javascript" src='../../static/scripts/user/findpwd.js'></script>
</head>
<body>
	<!-- 找回密码页面头部Start -->
	<div class="user_top">
		<div class="user_top_box">
			<div class="fl uTop_logo" onclick="window.location.href=getContextPaths()"></div>
			<p class="fl uLine"></p>
			<h3 class="fl">找回密码</h3>
			<div class="clear"></div>
		</div>
	</div>
	<!-- 找回密码页面头部End -->

	<!--  找回密码内容Start-->
	<div class="find_pwd_area">
		<div class="find_pwd_box">
			<!-- 验证身份Start -->
			<div class="authenticate">
				<p></p>
				<div class="authen_box">
					<!-- 手机号码 -->
					<div class="groups_div">
						<input type="text" name="check_iphone" class="check_txt check_iphone" id="check_iphone" placeholder='手机号码' maxlength="11" onkeyup="this.value=this.value.replace(/[^0-9\.]/g,'')">
						<div class="check_tips ctips01"></div>
					</div>

					<!-- 验证码 -->
					<div class="groups_div">
						<input type="text" name='check_Code' class="check_txt check_Code" id="check_Code" placeholder='验证码' maxlength="4" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9]/g,'')">
						<img id="rimgObj" class="code_box" alt="验证码" src="" />
						<!-- 错误提示语 -->
						<div class="check_tips ctips02"></div>
					</div>

					<!-- 发送验证码 -->
					<div class="groups_div">
						<input type="text" name='check_iCode' class="check_txt check_iCode" id="check_iCode" placeholder='手机验证码' maxlength="6" onkeyup="this.value=this.value.replace(/[^0-9\.]/g,'')">
						<input type="button" class="phone_codeBtn" id="phone_codeBtn" value="发送验证码">
						<!-- 错误提示语 -->
						<div class="check_tips ctips03"></div>
					</div>

					<!-- 下一步 -->
					<div class="next_btn">下一步</div>
				</div>
			</div>
			<!-- 验证身份End -->

			<!-- 重置密码Start -->
			<div class="resetCode">
				<p></p>
				<div class="resetCode_box">
					<!-- 手机号码 -->
					<div class="groups_div">
						<input type="text" name="reset_iphone" class="check_txt reset_iphone" id="reset_iphone" readonly="readonly" placeholder='' maxlength="11">
						<div class="reset_tips rtips01"></div>
					</div>

					<!-- 验证码 -->
					<div class="groups_div">
						<input type="password" name='reset_Code' class="check_txt reset_Code" id="reset_Code" placeholder='密码' maxlength="16" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\@\.\!\~\#\%\*\&\$]/g,'')">
						<!-- 错误提示语 -->
						<div class="reset_tips rtips02"></div>
					</div>

					<!-- 下一步 -->
					<div class="reset_nextBtn">下一步</div>
				</div>
			</div>
			<!-- 重置密码End -->


			<!-- 找回密码完成Start -->
			<div class="complete">
				<p></p>
				<h6>恭喜您成功找回密码！</h6>
				<!-- 完成 -->
				<div class="complete_btn">完成</div>
			</div>
			<!-- 找回密码完成End -->


		</div>
	</div>
	<!--  找回密码内容End-->
	

	<!-- 找回密码页面底部Start -->
	<div class="user_fotter_area">
		<div class="user_fotter">
			<div class="user_fotter_box">
				<ul class="user_list">
					<li><a href="javascript:void(0);" onclick="window.location.href=getContextPaths()+'/enterCompanyIntroduction'">关于我们</a></li>
					<li><a href="javascript:void(0);" onclick="window.location.href=getContextPaths()+'/enterContactUs'">联系我们</a></li>
					<li><a href="javascript:void(0);" onclick="window.location.href=getContextPaths()+'/enterNewGuideline'">新手指引</a></li>
					<li><a href="javascript:void(0);" onclick="window.location.href=getContextPaths()+'/enterHelpCenter'">帮助中心</a></li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
		<div class="user_increment">
			<p>
				©2017&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深圳市富之富信息技术有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn" style="cursor:pointer;color:#474e5d;" target='_blank'>粤ICP备16120381号</span>
			</p>
			
		</div>
	</div>
	
	<!-- 找回密码页面底部End -->
</body>
</html>



